In [2]:
import pandas as pd

In [3]:
pd.Series(1)

0    1
dtype: int64

In [4]:
pd.Series([1,2,3,4,5,6,6,7])

0    1
1    2
2    3
3    4
4    5
5    6
6    6
7    7
dtype: int64

In [5]:
pd.Series([1,2,3], index=['a','b','c'])

a    1
b    2
c    3
dtype: int64

In [10]:
a = {'name': 'umesh', 'age':16}

In [7]:
pd.Series(a)

name    umesh
age        16
dtype: object

In [12]:
a = pd.Series(a, name='I am Barney')

In [13]:
a.name

'I am Barney'

index based

In [14]:
a[0]

'umesh'

In [15]:
a['name']

'umesh'

In [17]:
a.head()

name    umesh
age        16
Name: I am Barney, dtype: object

In [18]:
import numpy as np

In [19]:
s = pd.Series(np.arange(5,30))

In [20]:
s

0      5
1      6
2      7
3      8
4      9
5     10
6     11
7     12
8     13
9     14
10    15
11    16
12    17
13    18
14    19
15    20
16    21
17    22
18    23
19    24
20    25
21    26
22    27
23    28
24    29
dtype: int64

In [21]:
s.head()

0    5
1    6
2    7
3    8
4    9
dtype: int64

In [22]:
s.tail()

20    25
21    26
22    27
23    28
24    29
dtype: int64

In [23]:
s[[1,3,9]]

1     6
3     8
9    14
dtype: int64

selection based selection

In [24]:
s[1:5]

1    6
2    7
3    8
4    9
dtype: int64

Label based selection

In [25]:
labels = list('abcdefhjshis')

In [26]:
labels

['a', 'b', 'c', 'd', 'e', 'f', 'h', 'j', 's', 'h', 'i', 's']

In [28]:
b = pd.Series(range(1,13), index=labels)

In [30]:
b['a']

1

In [32]:
b['a':'d']

a    1
b    2
c    3
d    4
dtype: int64

In [36]:
b[['a','f','c']]

a    1
f    6
c    3
dtype: int64

iloc[0] and s[0] are the same thing. We must use iloc[] because it is very fast as it doesn't check labels

In [37]:
b.loc['a']

1

b.loc[0] gives out error as it always takes only labels

b.at[] gives out label based location of a single value, b.iat[] gives out integer based location of a single value

In [40]:
b.hasnans

False

In [41]:
b.isna()

a    False
b    False
c    False
d    False
e    False
f    False
h    False
j    False
s    False
h    False
i    False
s    False
dtype: bool

sum(b.isna())  is used to find out how many NA is present in a series or dataFrame

In [43]:
s = pd.Series({'a':1, 'b':2, 'c':3, 'd':pd.NA})

In [44]:
s.isna()

a    False
b    False
c    False
d     True
dtype: bool

In [45]:
sum(s.isna())

1

In [46]:
e = pd.Series({'a':1, 'b':2, 'c':3})

In [47]:
e

a    1
b    2
c    3
dtype: int64

In [48]:
e.astype('float64')

a    1.0
b    2.0
c    3.0
dtype: float64

In [50]:
e.min()

1

In [51]:
e.max()

3

In [53]:
e.describe()

count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
dtype: float64

In [56]:
e.isnull().sum()

0

In [54]:
e.idxmax()

'c'

# Data Cleaning

In [69]:
d = pd.Series([1,2,3,4,pd.NA])

In [65]:
d

0       1
1       2
2       3
3       4
4    <NA>
dtype: object

In [66]:
d.dropna(inplace=True)

In [67]:
d

0    1
1    2
2    3
3    4
dtype: object

In [63]:
d.dropna(inplace=False)

0    1
1    2
2    3
3    4
dtype: object

In [71]:
d.mean()

2.5

In [72]:
d.fillna(d.mean(), inplace=True)

In [73]:
d

0    1.0
1    2.0
2    3.0
3    4.0
4    2.5
dtype: float64

In [74]:
d = pd.Series(np.random.randint(1,150,1000), dtype='float64')

In [75]:
d.nbytes

8000

In [77]:
a = d.astype('int8')

In [79]:
a.nbytes

1000