In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [15]:
df = pd.read_csv('heart-disease.csv')

In [17]:
df.sample(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
145,70,1,1,156,245,0,0,143,0,0.0,2,0,2,1
153,66,0,2,146,278,0,0,152,0,0.0,1,1,2,1
43,53,0,0,130,264,0,0,143,0,0.4,1,0,2,1
176,60,1,0,117,230,1,1,160,1,1.4,2,2,3,0
74,43,0,2,122,213,0,1,165,0,0.2,1,0,2,1
133,41,1,1,110,235,0,1,153,0,0.0,2,0,2,1
128,52,0,2,136,196,0,0,169,0,0.1,1,0,2,1
236,58,1,0,125,300,0,0,171,0,0.0,2,2,3,0
21,44,1,2,130,233,0,1,179,1,0.4,2,0,2,1
213,61,0,0,145,307,0,0,146,1,1.0,1,0,3,0

In [18]:
X = df[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']]

In [19]:
y = df.target

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [20]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [23]:
from sklearn.linear_model import LogisticRegression

In [26]:
model = LogisticRegression(max_iter=1000)

In [27]:
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [29]:
model.predict(X_test)

array([0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0], dtype=int64)

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
accuracy_score(y_test, model.predict(X_test))

0.8